.bg-primary {
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-light {
  background-color: var(--background-light);
}

.bg-headline {
  background-color: var(--headline);
}
