.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url("https://images.unsplash.com/photo-1603834305747-b0fb6f8bbfd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.App input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.App button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}

.App button:hover{
  opacity: 0.8;

}

.App li button{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 20%;

}

.App ul{
  border: 1px solid greenyellow;
}

.Lista{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(165, 165, 165, 0.3);
  border-radius: 100px;
  margin-bottom: 10px;
  padding: 10px;

}

.Lista:hover{
  background-color: rgba(165, 165, 165, 0.8);
  transition: 0.3s;
}

.Lista button{
  background-color: red;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.Lista button:hover{
  opacity: 0.8;
}

.button-back button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
